$font :  Arial, Helvetica, sans-serif;
$fontSizeMain: 40px;
$fontSizeMainResp: 20px;
$fontSizeCode: 30px;
$fontSizeCodeResp: 15px;
$boldFontSize: 55px;
$boldFontSizeResp: 27.5px;
$fontColorMain:#243859;
$fontColorSecondary:#487A9D;
$shadedClips: #E0DBD8;
$codeFont : monospace;
$codeColor:  #E63C49;
$codeFontSize : 30px;
$codeFontSizeResp: 15px;
$activePage : #487A9D;
$bgNav:#487a9d0f;

@media (min-width: 768px) {
    /* Styles for screens wider than 768px */
}
@keyframes grow {
      10%{
         height: 20px;
          width: 2.5px;
       }
      100%{
          height: 70px ;
          width: 2.5px ;
       }
   }
   @keyframes growRespo {
    10%{
       height: 20px;
        width: 1px;
     }
    100%{
        height: 40px ;
        width: 1px ;
     }
 }

@keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

//   indicator:after {
//     position: absolute;
//     top: 50%;
//     right: 0;
//     display: block;
//     width: 40px;
//     height: 2px;

//     transition: transform .2s ease-out, .3s ease-out;
//     background: #817e7e;
//   }


// .area{
//     background: #487A9D;
//     background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
//     width: 100%;
//     height:100vh;
// }

.zindex{
    z-index: 2;

}
.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.circles li{
    position: absolute;

    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #487A9D;
    animation: animate 15s linear infinite;
    bottom: -150px;
    overflow: hidden;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 20s;

}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
        border-radius: 0%;
        position: absolute;
        overflow: hidden;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


// .container{
//     background-image: url(clips/Paper.png);
//     position: fixed;
//     background-image:url("../herosection/clips/squarebg.gif");
// }
// sections styling
.heroSection{
    display: flex;
    flex-direction: column;
    column-gap: auto;
    height: 100%;
    background-image:url("../herosection/clips/squarebg.gif");

}

.navBar {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    align-content: end;
    margin: 5%;
    height: 5%;
    // display: flex;
    // flex-direction: column;
    // margin: 5%;


}

.navItems {
    // display: inline-block;
    display:grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
    justify-content: center;
    font-family: $font;
    margin-left: 2%;
 }

a {
    color: $fontColorMain;
    text-decoration: none;
    font-size: 15px;
}


.pagination {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 7px;
    justify-content: center;
    margin-top: 25px;

}

// .pagination {
//     position: fixed;
//     left: 50%;
//     top: 150px;
//     transform: translateX(-50%);
//     background-color:$bgNav ;
// }

.baseSig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.home, .myJourney, .about, .reachOut {
    height: 40px;
    width: 2.5px;
    border-radius: 2.5px;
    background-color: $shadedClips;
    animation-name: grow;
}

.home {
    background-color: $activePage;
    animation-name: grow;
    animation-duration: 1s ;
    animation-fill-mode: forwards;
}

.active2 {
    background-color: $activePage;
    animation-name: grow;
    animation-duration: 1s ;
    animation-fill-mode: forwards;
}


.signature {
    width: 12%;
    height: 50%;
    justify-items: center;
    margin-bottom: 20px;
}

.row3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    margin-bottom: 20%;
}

.text {
    width: 500px;
    font-family: $font;
    color: $fontColorSecondary;
    align-self: center;
}

.mono1{
    font-family: $codeFont;
    color:$codeColor;
    font-size: $fontSizeCode;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation-iteration-count: infinite;
    animation:
      typing 3s steps(100, end) infinite,
      blink-caret 6s step-end ;
}
.mono2 {
    font-family: $codeFont;
    font-weight: bold;
    font-size: 15px;
    color: $codeColor;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation-iteration-count: infinite;
    animation:
      typing 3s steps(100, end) infinite,
      blink-caret 6s step-end ;
}
.name{
    font-family: $font;
    color:$fontColorMain;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    // animation: 1.5s ease-out 0s 1 slideInFromLeft;
    font-size: $fontSizeMain;


}

b {
    font-size: $boldFontSize;
}

.text {
    font-family: $font;
    color:$fontColorSecondary;
    font-size: 15px;
    transition-delay: 1.5s;
    text-align: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}



.skills {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    margin-top: 30%;
    justify-content: center;
    column-gap: 15%;

    // display: flex;
    // flex-direction: column;
//     justify-content: end;
//     align-items: center;
    // gap: 20px;
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-template-rows: auto auto;
}
#aboutSec{
    // display: flex;
    // flex-direction: column;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto ;


    // grid-template-areas:
    // "1 2"
    // "3 4";


    // justify-content: center;
    // align-content: center;


    align-content: stretch;
    justify-content: space-evenly;


    // background-color: #356b95;

    height: 100%;
    width:100%;
    column-gap: 20%;
    padding-top: 2%;
}
// .row5{
//     display: grid;
//     grid-template-columns: auto auto;
//     grid-template-rows: auto ;
//     margin-top: 20%;
//     display: inline-block;
// }

// section 1
// .h1 {
//     grid-column: 1;
//     grid-row: 2;
//     justify-content: center;
// }
.h1{
    grid-row: 1;
    grid-column: 2;
    margin-right: 10%;
}
.h11{
    font-family: $font;
    // padding-top: 60%;
    font-weight: bolder;
    padding-left: 0;
    font-size: 20px;
    transform: translateX(-150%) translateY(500%);

}
.h22{
    font-family: $font;
    // padding-top: 60%;
    font-weight: bolder;
    padding-left: 0;
    font-size: 20px;
    transform: translateX(-175%) translateY(45%);


}
// .h1f1{
//     // display: flex;
//     // flex-direction: row;
//     // justify-content: center;

// }
// .h2 {
//     grid-column: 2;
//     grid-row: 2;
//     justify-content: center;
// }

.h2{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;

}
.h2f1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-items: flex-start;

}

// .h11 , .h22 {
//     align-self: flex-start;
//     font-family: $font;
//     color: $fontColorMain;
// }
// .h1, .h2, .h3 {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: start;
//     font-family: $font;
//     font-size: $fontSizeCode;
//     gap:15px;
//  }

.figma, .postman, .sass, .css, .html{
    font-size: 15px;
    color: $shadedClips;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: $fontColorMain;
    animation: along-a-circle 1.5s  ;
    animation-fill-mode: forwards;
    justify-content: center;
    box-shadow: 0px 0px 7px $fontColorSecondary;
    animation-iteration-count: 1;
}
.figma{
offset-path: path("M -75,155 A 100,80 0 0 0 50,-175");
}
.postman{
    // offset-path: path("M -25,75 A 100,80 0 0 0 100,-90");
    offset-path: path("M -40,80 A 100,100 0 0 0 100,-90");

}
.sass{
    // offset-path: path("M -15,25 A 90,80 0 0 0 100,-20");
    offset-path: path("M -90,50 A 80,80 0 0 0 20,-20");

}

.css{
    // offset-path: path("M -70,-25 A 90,50 1 0 0 20,-20");
    offset-path: path("M -250,-250 A 80,50 0 0 0 50,-90");


}

.html{
    offset-path: path("M -380,-380 A 100,100 0 0 0 -260,-270");
    // offset-path: path("M 70,-150 A 100,100 0 0 0 50,50");

}

.arabic, .english, .german{
    font-size: 15px;
    color: $shadedClips;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    background-color: $fontColorMain;
    animation: along-a-circle 1.5s  ;
    animation-fill-mode: forwards;
    justify-content: center;
    box-shadow: 0px 0px 7px $fontColorSecondary;
    animation-iteration-count: 1;
}
.arabic{
    offset-path: path("M 80,250 A 100,80 0 0 1 200,200") ;
}
.english{
    offset-path: path("M 90,200 A 100,110 0 0 1 200,200") ;
}
.german{
    offset-path: path("M 90,200 A 100,80 0 0 1 210,250") ;
}

@keyframes along-a-circle {
    100% {
      offset-distance:50%;
    }

  }

//   .h1f1:nth-child(2) {
//     transform: rotate(0deg) translate(100px) rotate(0deg);
// }

// .h1f1:nth-child(3) {
//     transform: rotate(45deg) translate(100px) rotate(-45deg);
// }

// .h1f1:nth-child(4) {
//     transform: rotate(90deg) translate(100px) rotate(-90deg);
// }

.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: $font;
    color: white;
    display: block;
}

.txt2 {

        font-family: $font;
        color: $shadedClips;
        font-size: 12px;
        position: relative;
        font-weight: lighter;

}

.SH {
    font-weight: bolder;
    font-size: medium;
    text-align: center;
    padding-bottom: 15%;
    font-size: 25px;
}

.html{
    background-color: $fontColorMain;

}
.css {
    background-color: $fontColorSecondary;

}
.sass {
    background-color: $fontColorMain;
}
.postman {
    background-color: $fontColorSecondary;
}
.figma {
    background-color: $fontColorMain;
}
.arabic{
    background-color: $fontColorMain;
}
.english{
    background-color: $fontColorSecondary;
}
.german{
    background-color: $fontColorMain;
}


#row8 {
    display: inline-block;
    text-align: center;

    background-image: url(clips/Ellipse8.png);
    background-position: center;
    margin-left: 50%;
    width: 654px;
    height: 545px;
    transform: translateX(-50%);
    margin-bottom: 10%;
    margin-top: 7%;

}

.bgMyJourney{

    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(6, 60px);
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
    // background-color: beige;
 }

.sphere1{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    grid-column: 3;
    grid-row: 4;
    background-color: aquamarine;
    align-self: baseline;
}
.sphere2{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    grid-column: 6;
    grid-row: 5;
    background-color: aquamarine;
    align-self: baseline;
}
.sphere3{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    grid-column: 7;
    grid-row: 3;
    background-color: aquamarine;
    align-self: baseline;
}
.sphere4{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    grid-column: 9;
    grid-row: 2;
    background-color: aquamarine;
    align-self: baseline;
}

.sphere1,.sphere2,.sphere3,.sphere4{
    box-shadow: 0px 0px 10px $fontColorSecondary;
    animation: bounce 1.5s;
    animation-iteration-count: 2;
    background-color: white;
}
.sphere1:hover {
    animation: bounce-hover 1s infinite;
    animation-fill-mode: forwards;
}

.sphere3:hover {
    animation: bounce-hover 1s infinite;
}
.sphere4:hover {
    animation: bounce-hover 1s infinite;
}
.sphere21 {
    box-shadow: 0px 0px 10px $fontColorSecondary;
    background-color: white;
}
.bold {
    font-family: $font;
    color: $codeColor;
    font-size: 10px;
    position: relative;
    font-weight: bold;
    padding-top: 10px;
}
.light {
    font-family: $font;
    color: $fontColorSecondary;
    font-size: 10px;
    position: relative;
    font-weight: lighter;
}

.sphere21 {
    visibility: hidden;
    opacity: 0; /* Also set opacity to 0 to hide the space it occupies */
    transition: visibility 0s, opacity 0.5s; /* Transition for smooth effect */
}
.sphere2:hover .sphere21{
    visibility: visible;
    transform: scale(1.5);
    opacity: 1;
    display: block;
}
.oran {
    color:#e85c35 ;
}

.soon {
    color: $shadedClips;
}
p{
    padding-top: 3%;
}

.row4{
    text-align: center;
}
.more{
    color: $activePage;
    font-family: $font;

}


// .arrow {
//     text-orientation: rotate(90);
// }


.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}


 .row6, .row7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
}


.milestone {
    display: grid;
    grid-template-columns: repeat(8, 65px);
    grid-template-rows: repeat(6, 74px);
    gap: 20px;
    width: 654px;
    height: 545px;
}
img{
    width: 626px;
    height: 545px;
}

.copyRight {
    text-align: center;
    font-size: 10px;
}

#row9 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    font-family: $font;
    color: $fontColorSecondary;
    height: 50%;
    background-color: $bgNav;
    width: 100%;
    padding-top: 2%;
}
.copyRight{
    grid-column-start: 1;
    grid-column-end: 3;
}
.text3 {
    font-family: $font;
    color:$fontColorSecondary;
    font-size: 10px;
    text-align: start;
    padding-bottom: 10%;
    padding-left: 20%;
}
.reach{
    font-family: $font;
    color:$fontColorMain;
    font-size: 13px;
    text-align: start;
    font-weight: bold;
}
.signatureFo {
    width: 12%;
    height: 20%;
    justify-items: center;
    padding-left: 20%;

}

.jour, .copyRight{
    font-family: $font;
    color: $fontColorSecondary;

}

.hr{
    background-color: $fontColorSecondary;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}
@keyframes bounce-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.moreJour {
color: $fontColorSecondary;
text-decoration: none;
font-size: 15px;
transition: color 0.3s, font-size 0.3s;
font-family: $font;
}

.moreJour:hover {
    color: $codeColor;
    font-size: 20px;
}

.icon:hover {
    animation: bounce-hover 1s;
    animation-fill-mode: forwards;
}
#aboutSecRes,.txtRes{
    display: none;
}
.h11Res,.h22Res{
    color: white;
}
@media  screen and (min-width: 200px) and (max-width: 920px) {
        .signature {
            width: 20%;
            height: 30%;
    }
    .signatureFo{
        width: 30%;
        height: 20%;
        padding-top: 2%;
    }
    .mono1{
        font-size: $fontSizeCodeResp;
    }
    .name{
        font-size: $fontSizeMainResp;
    }
    b {
        font-size: $boldFontSizeResp;
    }
    .figma {
        background-color: $fontSizeMainResp;
    }
    .text {
        font-size: 10px;
        max-width: 365px;
    }
    .home, .myJourney, .about, .reachOut {
        height: 20px;
        width: 1px;
        animation-name: growRespo;
    }
    a {
        font-size: 12px;
    }
    .bold {
        font-size: 8px;
    }
    .light {
    font-size: 8px;
    }
    .copyRight {
        font-size: 5px;
    }
    .text3 {
        font-size: 8px;
    }
    .reach{
        font-size: 9px;
    }
    .SH {
        font-size: 15px;
    }
    #row8 {
        background-image: url(clips/Ellipserepo.png);

        width: 332px;
        height: 323px;
    }
    .bgMyJourney{

        display: grid;
        grid-template-columns: repeat(8, 35px);
        grid-template-rows: repeat(6, 30px);
  }
  .sphere1,.sphere2,.sphere3,.sphere4 {
    width: 65px;
    height: 65px;
  }
  .sphere1{
    grid-column: 4;
    grid-row: 4;
  }
  .sphere2{
    grid-column: 6;
    grid-row: 5;
  }
  .sphere3{
    grid-column: 7;
    grid-row: 3;
  }
  .sphere4{
    grid-column: 9;
    grid-row: 2;
  }

.h1, .h2{
    display: none;
  }
//   .h11, .h22{
//     font-size: 12px;
//     text-align: inline-block;
//   }
//   .h22{
//     transform: translateX(-50%) translateY(75%);
//   }

// .figma, .postman, .sass, .css, .html{
//     font-size: 11px;
//     width: 50px;
//     height: 50px;
//     align-items: center;
//     animation: none;

// }
// path {
//     display: none;
// }

// .figma{
//     transform: translatex(-175%) translatey(10%);
// }
// .postman{
//     transform: translatex(50%) translatey(85%);
// }
// .sass{
//     transform: translatex(90%) translatey(-50%);
// }
// .css{
//     transform: translatex(250%) translatey(-250%);

// }
    .arabic, .english, .german{
        font-size: 12px;
        width: 50px;
        height: 50px;
        animation: none;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .aboutSecRes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-template-rows:auto ;
    height: 100%;
    width:100%;
    row-gap: 10%;
    padding-top: 2%;
    }
    .h1Res{
        // grid-row: 1;
        // grid-column: 2;
        margin-left: 20%;
    }
    .h2Res{
        margin-right: 20%;
    }
    .h11Res{
        font-family: $font;
        // padding-top: 60%;
        font-weight: bolder;
        padding-left: 0;
        color: #243859;
        font-size: 15px;
        text-align: center;
    }
    .h22Res{
        font-family: $font;
        // padding-top: 60%;
        font-weight: bolder;
        padding-left: 0;
        font-size: 15px;
        text-align: center;
        display: block;
        color: #243859;
    }
    // .h2Res{
    //     // grid-row: 1;
    //     // grid-column: 1;
    //     justify-self:left;
    //     display: flex;
    //     flex-direction: column;

    // }
    .h2f1Res{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .h1f1Res{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
    .htmlRes, .cssRes, .sassRes, .postmanRes, .figmaRes{
        font-size: 12px;
        color: $shadedClips;
        width: 55px;
        height: 55px;
        border-radius: 20px;
        background-color: $fontColorMain;
        margin-bottom: 5px;
        text-align: center;
        margin: 5px;

}
.txtRes {
    top: 50%;
    left: 75%;
    transform: translate(-7%, 25%);
    text-align: center;
    font-family: $font;
    padding-top: 11px;
    color: white;
    display: block;
}
.arabicRes, .englishRes, .germanRes{
    font-size: 12px;
    color: $shadedClips;
    border-radius: 20px;
    background-color: $fontColorMain;
    width: 55px;
    height: 55px;
    margin: 0px 5px 0 5px;

}
}
@media (min-width: 576px) {
    :root {
      --size-divisor: 2;
    }
  }
  @media (min-width: 768px) {
    :root {
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 992px) {
    :root {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) {
    :root {
      --size-divisor: .67;
    }


  }
  @media screen and (min-width: 1200px) and (max-width: 1280px) {
    .figma, .postman, .sass, .css, .html{
        width: 80px;
        height: 80px;
    }
    .arabic, .english, .german{
        width: 80px;
        height: 80px;
    }
    
  }


// .icon:hover{
//     0% {
//         transform: scale(1);
//     }
//     50% {
//         transform: scale(1.2);
//     }
// }



// .mono1{
//     font-family: $codeFont;
//     color:$codeColor;
//     font-size: $fontSizeCode;
//     overflow: hidden; /* Ensures the content is not revealed until the animation */
//     // border-right: .3em solid $activePage; /* The typwriter cursor */
//     white-space: nowrap; /* Keeps the content on a single line */
//     margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//     letter-spacing: .15em; /* Adjust as needed */
//     animation:
//       typing 6s steps(100, end),
//       blink-caret 6s step-end ;
//   }

//   /* The typing effect */
//   @keyframes typing {
//     from { width: 0 }
//     to { width: 70% }
//   }

// //   /* The typewriter cursor effect */
// //   @keyframes blink-caret {
// //     from, to { border-color: transparent }
// //     25% { border-color: $activePage; }
// //   }

//   @keyframes slideInFromLeft {
//     0% {
//       transform: translateX(-100%);
//     }
//     100% {
//       transform: translateX(0);
//     }
//