@media (min-width: 768px) {
  /* Styles for screens wider than 768px */
}

@-webkit-keyframes grow {
  10% {
    height: 20px;
    width: 2.5px;
  }
  100% {
    height: 70px;
    width: 2.5px;
  }
}

@keyframes grow {
  10% {
    height: 20px;
    width: 2.5px;
  }
  100% {
    height: 70px;
    width: 2.5px;
  }
}

@-webkit-keyframes growRespo {
  10% {
    height: 20px;
    width: 1px;
  }
  100% {
    height: 40px;
    width: 1px;
  }
}

@keyframes growRespo {
  10% {
    height: 20px;
    width: 1px;
  }
  100% {
    height: 40px;
    width: 1px;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zindex {
  z-index: 2;
}

.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #487A9D;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
  bottom: -150px;
  overflow: hidden;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.5;
    border-radius: 0%;
    position: absolute;
    overflow: hidden;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 0.5;
    border-radius: 0%;
    position: absolute;
    overflow: hidden;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: auto;
          column-gap: auto;
  height: 100%;
  background-image: url("../herosection/clips/squarebg.gif");
}

.navBar {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-flex-line-pack: end;
      align-content: end;
  margin: 5%;
  height: 5%;
}

.navItems {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
}

.itemHo:hover {
  color: #487A9D;
}

a {
  color: #243859;
  text-decoration: none;
  font-size: 15px;
}

.pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.baseSig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home, .myJourney, .about, .reachOut {
  height: 40px;
  width: 2.5px;
  border-radius: 2.5px;
  background-color: #E0DBD8;
  -webkit-animation-name: grow;
          animation-name: grow;
}

.home {
  background-color: #487A9D;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.active2 {
  background-color: #487A9D;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.signature {
  width: 12%;
  height: 50%;
  justify-items: center;
  margin-bottom: 20px;
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  justify-items: center;
  margin-bottom: 20%;
}

.text {
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mono1 {
  font-family: monospace;
  color: #E63C49;
  font-size: 30px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation: typing 3s steps(100, end) infinite, blink-caret 6s step-end;
          animation: typing 3s steps(100, end) infinite, blink-caret 6s step-end;
}

.mono2 {
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color: #E63C49;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation: typing 3s steps(100, end) infinite, blink-caret 6s step-end;
          animation: typing 3s steps(100, end) infinite, blink-caret 6s step-end;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  color: #243859;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  font-size: 40px;
}

b {
  font-size: 55px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
  font-size: 15px;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  text-align: center;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-top: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15%;
          column-gap: 15%;
}

#aboutSec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 100%;
  -webkit-column-gap: 20%;
          column-gap: 20%;
  padding-top: 2%;
  padding-right: 100px;
}

.h1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-right: 10%;
}

.h11 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 0;
  font-size: 20px;
  -webkit-transform: translateX(-150%) translateY(500%);
          transform: translateX(-150%) translateY(500%);
}

.h22 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 0;
  font-size: 20px;
  -webkit-transform: translateX(-175%) translateY(45%);
          transform: translateX(-175%) translateY(45%);
}

.h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.h2f1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.figma, .postman, .sass, .css, .html {
  font-size: 15px;
  color: #E0DBD8;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  background-color: #243859;
  -webkit-animation: along-a-circle 1.5s;
          animation: along-a-circle 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 7px #487A9D;
          box-shadow: 0px 0px 7px #487A9D;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.figma {
  offset-path: path("M -75,155 A 100,80 0 0 0 50,-175");
}

.postman {
  offset-path: path("M -40,80 A 100,100 0 0 0 100,-90");
}

.sass {
  offset-path: path("M -90,50 A 80,80 0 0 0 20,-20");
}

.css {
  offset-path: path("M -250,-250 A 80,50 0 0 0 50,-90");
}

.html {
  offset-path: path("M -380,-380 A 100,100 0 0 0 -260,-270");
}

.arabic, .english, .german {
  font-size: 15px;
  color: #E0DBD8;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  background-color: #243859;
  -webkit-animation: along-a-circle 1.5s;
          animation: along-a-circle 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 7px #487A9D;
          box-shadow: 0px 0px 7px #487A9D;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.arabic {
  offset-path: path("M 80,250 A 100,80 0 0 1 200,200");
}

.english {
  offset-path: path("M 90,200 A 100,110 0 0 1 200,200");
}

.german {
  offset-path: path("M 90,200 A 100,80 0 0 1 210,250");
}

@-webkit-keyframes along-a-circle {
  100% {
    offset-distance: 50%;
  }
}

@keyframes along-a-circle {
  100% {
    offset-distance: 50%;
  }
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
}

.txt2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #E0DBD8;
  font-size: 12px;
  position: relative;
  font-weight: lighter;
}

.SH {
  font-weight: bolder;
  font-size: medium;
  text-align: center;
  padding-bottom: 15%;
  font-size: 25px;
}

.html {
  background-color: #243859;
}

.css {
  background-color: #487A9D;
}

.sass {
  background-color: #243859;
}

.postman {
  background-color: #487A9D;
}

.figma {
  background-color: #243859;
}

.arabic {
  background-color: #243859;
}

.english {
  background-color: #487A9D;
}

.german {
  background-color: #243859;
}

#row8 {
  display: inline-block;
  text-align: center;
  background-image: url(clips/Ellipse8.png);
  background-position: center;
  margin-left: 50%;
  width: 654px;
  height: 545px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 10%;
  margin-top: 7%;
}

.bgMyJourney {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (70px)[8];
      grid-template-columns: repeat(8, 70px);
  -ms-grid-rows: (60px)[6];
      grid-template-rows: repeat(6, 60px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 20px;
}

.sphere1 {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
  background-color: aquamarine;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.sphere2 {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 5;
  grid-row: 5;
  background-color: aquamarine;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hiddenText {
  display: none;
  color: #E63C49;
  font-size: 8px;
  font-family: monospace;
}

.sphere2:hover .hiddenText {
  display: block;
}

.sphere2:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.sphere3 {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: aquamarine;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.sphere4 {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -ms-grid-column: 9;
  grid-column: 9;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: aquamarine;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.sphere1, .sphere2, .sphere3, .sphere4 {
  -webkit-box-shadow: 0px 0px 10px #487A9D;
          box-shadow: 0px 0px 10px #487A9D;
  -webkit-animation: bounce 1.5s;
          animation: bounce 1.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  background-color: white;
}

.sphere1:hover {
  -webkit-animation: bounce-hover 1s infinite;
          animation: bounce-hover 1s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.sphere3:hover {
  -webkit-animation: bounce-hover 1s infinite;
          animation: bounce-hover 1s infinite;
}

.sphere4:hover {
  -webkit-animation: bounce-hover 1s infinite;
          animation: bounce-hover 1s infinite;
}

.bold {
  font-family: Arial, Helvetica, sans-serif;
  color: #E63C49;
  font-size: 10px;
  position: relative;
  font-weight: bold;
  padding-top: 10px;
}

.light {
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
  font-size: 10px;
  position: relative;
  font-weight: lighter;
}

.oran {
  color: #e85c35;
}

.soon {
  color: #E0DBD8;
}

p {
  padding-top: 3%;
}

.row4 {
  text-align: center;
}

.more {
  color: #487A9D;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.row6, .row7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0px;
}

.milestone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (65px)[8];
      grid-template-columns: repeat(8, 65px);
  -ms-grid-rows: (74px)[6];
      grid-template-rows: repeat(6, 74px);
  gap: 20px;
  width: 654px;
  height: 545px;
}

img {
  width: 626px;
  height: 545px;
}

.copyRight {
  text-align: center;
  font-size: 10px;
}

#row9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
  height: 50%;
  background-color: #487a9d0f;
  width: 100%;
  padding-top: 2%;
}

.copyRight {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.text3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
  font-size: 10px;
  text-align: start;
  padding-bottom: 10%;
  padding-left: 20%;
}

.reach {
  font-family: Arial, Helvetica, sans-serif;
  color: #243859;
  font-size: 13px;
  text-align: start;
  font-weight: bold;
}

.signatureFo {
  width: 15%;
  height: 12%;
  justify-items: center;
  padding-left: 20%;
}

.jour, .copyRight {
  font-family: Arial, Helvetica, sans-serif;
  color: #487A9D;
}

.hr {
  background-color: #487A9D;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes bounce-hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bounce-hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.moreJour {
  color: #487A9D;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: color 0.3s, font-size 0.3s;
  transition: color 0.3s, font-size 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.moreJour:hover {
  color: #E63C49;
  font-size: 20px;
}

.icon:hover {
  -webkit-animation: bounce-hover 1s;
          animation: bounce-hover 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#aboutSecRes, .txtRes {
  display: none;
}

.h11Res, .h22Res {
  color: white;
}

@media screen and (min-width: 200px) and (max-width: 920px) {
  .signature {
    width: 20%;
    height: 30%;
  }
  .signatureFo {
    width: 30%;
    height: 20%;
    padding-top: 2%;
  }
  .mono1 {
    font-size: 15px;
  }
  .name {
    font-size: 20px;
  }
  b {
    font-size: 27.5px;
  }
  .figma {
    background-color: 20px;
  }
  .text {
    font-size: 10px;
    max-width: 365px;
  }
  .home, .myJourney, .about, .reachOut {
    height: 20px;
    width: 1px;
    -webkit-animation-name: growRespo;
            animation-name: growRespo;
  }
  a {
    font-size: 12px;
  }
  .bold {
    font-size: 8px;
  }
  .light {
    font-size: 8px;
  }
  .copyRight {
    font-size: 5px;
  }
  .text3 {
    font-size: 8px;
  }
  .reach {
    font-size: 9px;
  }
  .SH {
    font-size: 15px;
  }
  #row8 {
    width: 332px;
    height: 323px;
  }
  .bgMyJourney {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (35px)[8];
        grid-template-columns: repeat(8, 35px);
    -ms-grid-rows: (30px)[6];
        grid-template-rows: repeat(6, 30px);
  }
  .sphere1, .sphere2, .sphere3, .sphere4 {
    width: 65px;
    height: 65px;
  }
  .sphere1 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .sphere2 {
    -ms-grid-column: 6;
    grid-column: 6;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .sphere3 {
    -ms-grid-column: 7;
    grid-column: 7;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .sphere4 {
    -ms-grid-column: 9;
    grid-column: 9;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .h1, .h2 {
    display: none;
  }
  .arabic, .english, .german {
    font-size: 12px;
    width: 50px;
    height: 50px;
    -webkit-animation: none;
            animation: none;
  }
  .icon {
    width: 15px;
    height: 15px;
  }
  .aboutSecRes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    row-gap: 10%;
    padding-top: 2%;
  }
  .h1Res {
    margin-left: 20%;
  }
  .h2Res {
    margin-right: 20%;
  }
  .h11Res {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 0;
    color: #243859;
    font-size: 15px;
    text-align: center;
  }
  .h22Res {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 0;
    font-size: 15px;
    text-align: center;
    display: block;
    color: #243859;
  }
  .h2f1Res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .h1f1Res {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
  .htmlRes, .cssRes, .sassRes, .postmanRes, .figmaRes {
    font-size: 12px;
    color: #E0DBD8;
    width: 55px;
    height: 55px;
    border-radius: 20px;
    background-color: #243859;
    margin-bottom: 5px;
    text-align: center;
    margin: 5px;
  }
  .txtRes {
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-7%, 25%);
            transform: translate(-7%, 25%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 11px;
    color: white;
    display: block;
  }
  .arabicRes, .englishRes, .germanRes {
    font-size: 12px;
    color: #E0DBD8;
    border-radius: 20px;
    background-color: #243859;
    width: 55px;
    height: 55px;
    -webkit-box-shadow: 0px 0px 7px #487A9D;
            box-shadow: 0px 0px 7px #487A9D;
    margin: 0px 5px 0 5px;
  }
}

@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}

@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}

@media (min-width: 992px) {
  :root {
    --size-divisor: 1;
  }
}

@media (min-width: 1200px) {
  :root {
    --size-divisor: .67;
  }
}

@media screen and (min-width: 920px) and (max-width: 1280px) {
  .figma, .postman, .sass, .css, .html {
    width: 100px;
    height: 100px;
  }
  .arabic {
    width: 100px;
    height: 100px;
  }
  .english {
    width: 100px;
    height: 100px;
  }
  .german {
    width: 100px;
    height: 100px;
  }
  .h11 {
    -webkit-transform: translateX(-150%) translateY(400%);
            transform: translateX(-150%) translateY(400%);
  }
  .h22 {
    -webkit-transform: translateX(-100%) translateY(50%);
            transform: translateX(-100%) translateY(50%);
  }
  .figma {
    offset-path: path("M -75,155 A 100,80 0 0 0 50,-175");
  }
  .postman {
    offset-path: path("M -40,80 A 100,100 0 0 0 100,-90");
  }
  .sass {
    offset-path: path("M -90,50 A 80,80 0 0 0 50,-20");
  }
  .css {
    offset-path: path("M -240,-180 A 80,50 0 0 0 90,-50");
  }
  .html {
    offset-path: path("M -280,-250 A 80,80 0 0 0 -190,-150");
  }
}
/*# sourceMappingURL=style.css.map */